{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block head %}
<div class="container" align="center" style="font-size: 20px">
<b>A web app to predict whether a patient is likely to get stroke based on the input
parameters like gender, age, various diseases, and smoking status.</b></div>
{% endblock %}

{% block content %}
<div class="container p-1" align="center">
	<!-- <img src="static/images/start.webp" width="60%"> -->
	<div class="container p-2">
		<p style="font-size: 20px; color: white">Stroke is sometimes termed as brain attack or a cardiovascular accident (CVA). 
			It is much like a heart attack, only it occurs in the brain.<br>

		.<br>

	
		the patient.<br><br><br><br>
		<ul align='left'>
		<li><b>The machine learning model (XGBoost) was trained and validated on 5100+ patient health records. </b></li>
		<li><b>Achieved True Positive rate of 0.97 and F1 score of 0.97</b></li>
		</ul>
</p>
	